<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarginWhiteSpaceRemover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MarginWhiteSpaceRemover.Properties.Settings>
            <setting name="CheckBoxReplaceTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberBoxTabSpaces" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RichTextBoxOrig" serializeAs="String">
                <value>        /// &lt;summary&gt;
        /// Generates the specified amount of space characters.
        /// &lt;/summary&gt;
        /// &lt;param name="count"&gt;The space character count.&lt;/param&gt;
        public static string GenerateSpaces(int count)
        {
            StringBuilder SB = new StringBuilder();

            for (int i = 0; i &lt; count; i++)
            {
                SB.Append(' ');
            }

            return SB.ToString();
        }</value>
            </setting>
            <setting name="CheckBoxAutoTrim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckBoxMinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </MarginWhiteSpaceRemover.Properties.Settings>
    </userSettings>
</configuration>